.flutuar-direita{
float: right;
}
.paddingBotao{
padding-left: 20px;
padding-right: 20px;
}
.principal{
  text-align: center;
}
.navbar-light{
  background-color: #b2538963;
}
.largurabtn{
  width: 3em;

}
